@media (max-width: 1250px) {
}

@media (max-width: 1110px) {
  .header-top.header-top__fixed {
    padding: 20px 15px;
  }

  .title {
    font-size: 50px;
  }

  .footer__block2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer__block2-title {
    margin-right: 241px;
  }
}

@media (max-width: 980px) {
  .social-list {
    display: none;
  }

  .follow {
    display: none;
  }

  .fort__container {
    flex-direction: column-reverse;
  }

  .fort-desription {
    width: 100%;
  }

  .title {
    font-size: 50px;
  }

  .people__container {
    flex-direction: column;
  }

  .footer__block2-title {
    margin-right: 110px;
  }
}

@media (max-width: 850px) {
  .header__container {
    padding: 47px 10px 714px 10px;
  }

  .nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* overflow-y: hidden; */
  }

  .menu {
    background: #fff;
    position: absolute;
    left: 110%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 3;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    transition: all 0.4s ease;
  }

  .menu.active {
    left: 0;
  }

  .menu-link {
    color: rgba(0, 0, 0, 0.8);
  }

  .menu-list:first-child {
    padding-top: 60px;
  }

  .menu-list + .menu-list {
    margin-left: 0;
    margin-top: 30px;
  }

  .mobile-menu {
    display: block;
  }

  .search {
    left: 0;
  }

  .header-logo {
    display: none;
  }

  .temple {
    padding: 450px 15px 50px 15px;
  }

  .footer__block2-title {
    margin-right: 39px;
  }
}

@media (max-width: 768px) {
  .header-bottom__description {
    padding: 50px 15px 100px 15px;
  }
  .header-bottom__title {
    font-size: 70px;
  }

  .header-bottom__title span {
    font-size: 78px;
  }

  .about-text {
    font-size: 11px;
  }

  .fort__container {
    padding: 75px 15px;
  }

  .fort-about {
    padding: 0 15px 30px 15px;
  }

  .temple {
    padding: 350px 15px 50px 15px;
    margin: 75px 15px;
  }

  .people__container {
    padding: 75px 15px;
  }

  .footer__block1 {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .footer__block2 {
    display: flex;
    flex-direction: column;
  }

  .footer__block3 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 590px) {
  .header-top.header-top__fixed {
    padding: 20px 15px;
  }
  .header-bottom__title {
    font-size: 58px;
  }
  .header-bottom__text {
    margin-left: 70px;
  }

  .header-bottom__title span {
    font-size: 66px;
  }

  .about-text {
    font-size: 12px;
  }

  .about-text::before {
    width: 52px;
    left: -62px;
    top: 6px;
  }

  .temple_text::after {
    width: 52px;
    right: -62px;
    top: 6px;
  }

  .people_text {
    margin-left: 75px;
  }
}

@media (max-width: 450px) {
  .header-bottom__title {
    font-size: 39px;
    line-height: 60px;
  }

  .header-bottom__text {
    margin-left: 46px;
  }

  .about-text {
    font-size: 10px;
  }

  .about-text::before {
    width: 38px;
    left: -54px;
    top: 5px;
  }

  .temple_text::after {
    width: 38px;
    right: -64px;
    top: 5px;
  }

  .header-bottom__title span {
    font-size: 47px;
  }

  .title {
    font-size: 44px;
    font-weight: 700;
    padding: 50px 15px;
  }

  .fort-about {
    padding: 0 10px 30px 10px;
  }

  .footer_started {
    flex-direction: column;
  }
}
