/* ------------------ Fonts ------------------ */
@font-face {
  font-family: "Open_Sans";
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"),
    url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"),
    url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
}

@font-face {
  font-family: "DM_Sans";
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Open+Sans:wght@700&display=swap"),
    url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&family=Open+Sans:wght@700&display=swap");
}

:root {
  /*------------------Font-family------------------------------*/
  --ff-open-sans: "Open_Sans", sans-serif;
  --ff-dm-sans: "DM_Sans", sans-serif;

  /* ------------------ Colors ------------------ */
  --color-black: #000000;
  --color-graffit: #303030;

  /* ------------------ Background ------------------ */
  --bg-cream: #fff4eb;
  --bg-graffit: #303030;
  --bg-dark-cream: #ca9277;
}

/*------------------ Default style ------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
}

button {
  padding: 0;
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

body {
  font-family: "Open_Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: white;
  background-image: url(/img/mahesh-mv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.page {
  max-width: 1460px;
  margin: 0 auto;
}

/*----------------- HeaderTop-section -----------------*/

.header__container {
  padding: 67px 75px 714px 75px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.header-logo {
  font-family: var(--ff-open-sans), sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu-list + .menu-list {
  margin-left: 50px;
}

.menu-link {
  font-family: var(--ff-open-sans), sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.menu-link:hover {
  text-decoration: underline;
}

.search {
  cursor: text;
}

.search-input {
  background-color: inherit;
  width: 85px;
  height: 20px;
  color: #fff;
  border: none;
  position: relative;
  background-image: url(/img/search.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: left;
  outline: 0;
  transition: 0.3s;
}

.search-input::placeholder {
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-family: var(--ff-open-sans), sans-serif;
  font-weight: 400;
  line-height: normal;
}

/*----------------- HeaderBottom-section -----------------*/
.header-bottom__container {
  padding-top: 156px;
}

.header-bottom__text {
  margin-left: 520px;
}

.about-text {
  color: #ffc178;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
  text-transform: uppercase;
  position: relative;
}

.about-text::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 2px;
  background-color: #ffc178;
  left: -105px;
  top: 8px;
  z-index: 5;
}

.header-bottom__description {
  display: flex;
  justify-content: space-between;
  width: 967px;
  padding: 50px 0 100px 0;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.social-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.social-link p {
  padding-top: 25px;
}

.social-text {
  font-weight: 600;
  rotate: 90deg;
  transform: translateY(15px);
}

.header-bottom__title {
  width: 555px;
  font-size: 88px;
  font-weight: 400;
  font-family: var(--ff-open-sans), sans-serif;
  line-height: 100px;
}

.header-bottom__title span {
  font-size: 96px;
  font-weight: 700;
}

.header-bottom__scroll {
  display: block;
  margin: 0 auto;
  width: 123px;
  cursor: pointer;
  position: relative;
}

.header-bottom__scroll::after {
  position: absolute;
  content: url(/img/arrow_down.svg);
  right: 0;
  top: 4px;
  width: 16px;
  height: 24px;
}

/*----------------- Fort-section -----------------*/
.fort__container {
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fort-desription {
  max-width: 632px;
}
.fort_text {
  margin-left: 105px;
}
.title {
  font-size: 64px;
  font-weight: 700;
  padding: 50px 0;
}

.fort-about {
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 30px;
}

.read-more {
  color: #fbd784;
  font-weight: 700;
  position: relative;
}

.read-more::after {
  position: absolute;
  content: url(/img/arrow_right.svg);
  right: -40px;
  bottom: 8px;
  height: 16px;
  width: 24px;
}

/*----------------- Temple-section -----------------*/

.temple {
  background-image: url(/img/Dagdusheth\ Halwai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 600px 0 50px 0;
  margin: 150px 0;
}

.temple__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temple_text {
  position: relative;
}

.temple_text::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 2px;
  background-color: #ffc178;
  right: -104px;
  top: 8px;
  z-index: 5;
}

.temple-title {
  max-width: 780px;
  text-align: center;
  line-height: normal;
}

.temple-about {
  max-width: 934px;
  text-align: center;
  padding-bottom: 30px;
}

/*----------------- People-section -----------------*/
.people {
}
.people__container {
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.people-desription {
}
.people_text {
  margin-left: 105px;
}
.people-title {
  max-width: 555px;
  line-height: normal;
}

.people-about {
  max-width: 555px;
  line-height: 32px;
  padding-bottom: 30px;
}
